@import url('https://fonts.googleapis.com/css?family=Orbitron');
.App {
  margin:0;
  padding:0;
  text-align: center;
  background-image: url('img/bg-easter-eggs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.title{
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  color: white;
}
.row{
  width: 100%;
  justify-content: center
}
.cards{
  margin-top: 10%;
}
.card-deck{
  flex-flow: none;
}

.App-header {
  background-image: url('img/bg-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Footer{

  width:100%;
  background-color: #282c34;
  min-height: 6vh;
  color: white;
  align-items: center;
  justify-content: center;
}
