.imageFront {
border : 5px solid black;
border-radius: 1ex;
background-image: linear-gradient( purple , darkblue);
cursor: pointer;
width: 15rem;
height: 21rem;
justify-content: center;
margin-left : 2rem;
}
.character{
    height: 8rem;
}
.description {
    font-size: 12px; 
}
.card-title{
    height: 2rem;
}
img.eggImg {
    margin-top : 5rem;
    width : 10rem;
}

img.charaImg {
    width : 16rem;
    height : 15rem;
}
.characterName {
    background-color : whitesmoke;
    width : 15rem;
    height : 3rem;
    font-size: 1.3rem;
    text-transform: capitalize ;
}
.description {
    background-color : white ;
    margin-top : 2rem;
    width : 15rem;
    height : 7.5rem;
    padding : 0, auto;
    font-size : 1rem;
    text-transform : capitalize;
    font-weight: bold ;
}